.App {
  text-align: center;
  background-color:black
}

img {
  width: 100%
}

.container {
  display: flex;
  /* flex-direction: row */
}

.movie {
  flex: 1
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
