.App {
  text-align: center;
}

img {
  width: 100%
}

p {
  font-size: 25px;
  font-weight: bold;
}

.container {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /* auto-fit > span all available space on screen 
  1fr > all elements have the same dimension*/
}

.movie {
  position: relative;
  overflow: hidden;
}

.title-overlay {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  opacity: 0.8;
  position: absolute;
  bottom: -300px;
  height: 30%;
  width: 100%;
  transition: bottom cubic-bezier(0.33, -0.31, 0.43, 1.55) 1s;
}

.movie:hover .title-overlay {
  bottom: 0
}

.movie-details {
  display: flex;
}

@media only screen and (max-width: 500px) {
  .movie-details {
    display: block;
  }
}